// Variables

// Colors
$black: #4f433c;
$white: #fff;
$tan: #f8e5c9;

// Brand Swatches
// $brand-main: ;
// $brand-secondary: ;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 700px;
$breakpoint-l: 1000px;
$breakpoint-xl: 3000px;