// Home page

.page.home {
  .about-image {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 1080px;
  }

  section.about {
    .about-image-wrap {
      position: relative;
      margin-bottom: 30px;
      .caption {
        margin: 0;
        right: 30px;
        bottom: 30px;
        font-size: 8px;
        position: absolute;
        color: rgba($tan,.5);
      }
    }
    .about-image {
      vertical-align: top;
    }
    .wrap.-text {
      p {
        margin-top: 0;
        &.-intro {
          font-weight: 700;
          font-size: 20px;
        }
      }
    }
    @include media-md {
      @include clearfix;
      .about-image-wrap {
        width: 50%;
        float: left;
      }
      .wrap.-text {
        width: 50%;
        float: right;
        max-width: none;
        padding-left: 30px;
        p {
          max-width: 600px;
        }
      }
    }
  }

  section.recent-work {
    ul {
      margin: 0;
      padding: 0;
      @include media-md {
        columns: 2;
        column-gap: 60px;
      }

      li {
        list-style: none;
        break-inside: avoid;
        padding-bottom: 20px;
        h4 {
          margin: 0;
          font-size: 24px;
          line-height: 1.25;
          @extend .font-display;
          display: inline-block;
          a {
            display: block;
            text-decoration: none;
            &:hover {
              span::after {
                border-bottom: 34px solid;
                mix-blend-mode: exclusion;
              }
            }

            span {
              position: relative;
              &::after {
                left: 0;
                right: 0;
                z-index: 1;
                content: '';
                bottom: -2px;
                height: 34px;
                position: absolute;
                border-bottom: 2px solid;
                transition: border .1s ease-out;
              }
            }
          }
        }
        p {
          margin: .5em 0 0;
        }
      }
    }
  }
}