// Home page

.page.home {
  // Light/Dark Variations on the about image
  &.ab-light {
    .about-image {
      mix-blend-mode: multiply;
    }
  }
  &.ab-dark {
    .about-image {
      mix-blend-mode: screen;
    }
  }

  .about-image {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 1080px;
  }

  section.about {
    .about-image-wrap {
      position: relative;
      margin-bottom: 30px;
      figcaption {
        margin: 0;
        z-index: 1;
        right: 30px;
        bottom: 30px;
        color: $tan;
        line-height: 1;
        font-size: 10px;
        position: absolute;
        background-color: $black;
      }
    }
    .about-image {
      vertical-align: top;
    }
    .wrap.-text {
      p {
        margin-top: 0;
        &.-intro {
          font-size: 20px;
          line-height: 1.5;
          font-weight: 700;
        }
      }
    }
    @include media-md {
      @include clearfix;
      .about-image-wrap {
        width: 50%;
        float: left;
      }
      .wrap.-text {
        width: 50%;
        float: right;
        max-width: none;
        padding-left: 30px;
        p {
          max-width: 600px;
        }
      }
    }
  }

  section.recent-work {
    ul {
      margin: 0;
      padding: 0;
      @include media-md {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        list-style: none;
        break-inside: avoid;
        padding-bottom: $vertical-beat;
        @include media-md {
          max-width: 50%;
          flex-basis: 50%;
          padding-right: 30px;
          padding-bottom: #{$vertical-beat * 2};
          &:nth-child(even) {
            padding-right: 0;
            padding-left: 30px;
          }
        }

        h4 {
          margin: 0;
          font-size: 24px;
          line-height: 1.25;
          @extend .font-display;
          display: inline-block;
          a {
            display: block;
            text-decoration: none;
            &:hover {
              span::after {
                border-bottom: 20px solid;
                mix-blend-mode: exclusion;
              }
            }

            span {
              position: relative;
              display: inline-block;
              &::after {
                left: 0;
                right: 0;
                z-index: 1;
                content: '';
                bottom: 5px;
                height: 20px;
                position: absolute;
                border-bottom: 1px solid;
                transition: border .1s ease-out;
              }
            }
          }
        }
        p {
          margin: 0;
        }
      }
    }
  }
}