// Internal pages.

.page.internal {
  .site-header {
    height: 20vh;
    padding-top: #{$vertical-beat * 3};
    margin-bottom: #{$vertical-beat * 3};
    padding-bottom: #{$vertical-beat * 3};

    .header-gradient {
      height: 150%;
    }

    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 12px;
    }
  }
}