// Lists Page

.page.lists {

  .description {
    margin-bottom: #{$vertical-beat * 3};
  }

  ol {
    li {
      margin-top: .5em;
      &:first-of-type {
        margin-top: 0;
      }
      a {
        &:hover,
        &:focus {
          font-style: italic;
        }
      }
    }
  }

  li {
    &.completed {
      text-decoration: line-through;
    }
  }
}