// Lists Page

.page.lists {
  ol {
    li {
      margin-top: .5em;
      &:first-of-type {
        margin-top: 0;
      }
      a {
        &:hover,
        &:focus {
          font-style: italic;
        }
      }
    }
  }

  li {
    &.completed {
      a {
        text-decoration: line-through;
      }
    }
  }
}