// Generic Pages

.site-main {
  h3 {
    @extend .h2;
  }
}

section {
  opacity: 0;
  margin: #{$vertical-beat * 3} 0;
  
  &.-animate {
    animation: fadeInBottom 1s forwards .5s;
  }

  &.has-anchor {
    .section-title {
      position: relative;
      .section-anchor {
        top: 0;
        opacity: 0;
        right: 100%;
        position: absolute;
        padding-right: 20px;
        pointer-events: none;
        transition: opacity .2s ease-out;
        &:hover {
          opacity: 1;
          pointer-events: auto;
        }
      }
      &:hover {
        .section-anchor {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }

  .section-title {
    border-bottom: 1px solid;
    a {
      text-decoration: none;
    }
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    li {
      margin-bottom: $vertical-beat;
    }
  }

  ol {
    counter-reset: list-counter;
    li {
      list-style: none;
      position: relative;
      &::before {
        top: 1px;
        right: 100%;
        font-weight: 700;
        font-size: .75em;
        line-height: 1.75;
        padding-right: 4px;
        position: absolute;
        counter-increment: list-counter;
        content: counter(list-counter)'_';

        @include media-md {
          padding-right: 12px;
        }
      }
    }
  }

  ul {
    list-style-type: square;
  }

  @include media-md {
    margin: #{$vertical-beat * 6} 0;
  }
}